<%= render "shared/second-header"%>
  <div class='comp-soto-page'>
    <div class="comp-page">
        更新が完了しました。
    </div>
    <div class="comp-page">
       <a class="comp-btn" href="/">トップページへ戻る</a>
    </div>
  </div>
<%= render "shared/second-footer"%>